API_ID = # your telegram Api id
API_HASH = # your telegram Hash api
PHONE_NUMBER = # your phone number
STRING_SESSION = # optional, your string sesstino
CONNECTION_RETRIES = 5
CONFIG_SERVER = # fill it out to install download module dependencies
STATIC_AVATARS = 5
BIO_ADDITION = 💻 uryzen317.ir